{% extends 'base.html' %}
{% load review_tag %}
{% block content %}
<div class="container-fluid">
    <div class="row text-center mb-4">
        <h2 class="mt-4">Rédiger une critique</h2>
    </div>

    <div class="row justify-content-center">
        <div class="card mb-4" style="max-width: 540px;">
          <div class="row g-0">
            <p>Vous rédigez une critique concernant: </p>
                {% include 'reviews/partials/ticket_snippet.html' with ticket=ticket %}
            <form method="post" enctype="multipart/form-data">
                {{ review_form.as_p }}
                {% csrf_token %}
                <div class="row text-center">
                    <button class="btn btn-primary col-3" type="submit" >Publier</button>
                </div>
            </form>
          </div>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <a class="btn btn-link col-4 mb-4" href="{% url 'feed' %}">Retour </a>
    </div>
</div>
{% endblock content %}