{% extends 'base.html' %}
{% load review_tag %}
{% block content %}
<div class="container-fluid">
    <div class="row text-center mb-4">
        <h2>Home Page</h2>
    </div>

    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a type="button" class="btn btn-primary btn-lg px-4 me-sm-3"
                href="{% url 'ticket' %}">Demander une critique</a>
        <a type="button" class="btn btn-outline-secondary btn-lg px-4"
                href="{% url 'review_ticket' %}">Rédiger une critique</a>
    </div>

    <div class="grid-container">
        {% for instance in page_obj %}
            {% if instance|model_type == 'Ticket' %}
                {% include 'reviews/partials/ticket_snippet.html' with ticket=instance %}
            {% elif instance|model_type == 'Review' %}
                {% include 'reviews/partials/review_snippet_with_ticket.html' with review=instance %}
            {% endif %}
        {% endfor %}
    </div>

    <span class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}"> précédente </a>
        {% endif %}

        <span class="page-item page-link">
            Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.

        </span>
        {% if page_obj.has_next %}
            <a class="page-link" href="?page={{ page_obj.next_page_number }}"> suivante </a>
        {% endif %}
    </span>
</div>

{% endblock content %}
