{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <h2>Suivre des utilisateurs</h2>

    <p>Utilisateurs déjà suivis:
        {% for u in user.follows.all %}
            {{ u }}
            <br/>
            <form method="post">
            {{ form_unfollow.as_p }}
            {% csrf_token %}
            <button class="btn btn-primary col-1" type="submit" >Ne plus suivre</button>
            </form>
        {% endfor %}
    </p>
    <br>
    <p>Abonnés:
        {% for u in user.followers.all %}{{ u }}<br/>{% endfor %}
    </p>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Commencer a suivre le user suivant:</span>
        <input type="select" class="form-control" placeholder="Username" aria-label="Username">
    </div>

    <div class="row">
        <span class="input-group-text" id="basic-addon1">@</span>
        <form method="post">
        {{ form_follow.as_p }}
        {% csrf_token %}
        <button class="btn btn-primary col-1" type="submit" >Confirmer</button>
        </form>
    </div>
</div>



{% endblock content %}