{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <h2 class="mt-4">Suivre des utilisateurs</h2>
    <div class="row mt-4">
        <p>Utilisateurs suivis  <span class="badge bg-primary rounded-pill">{{user.follows.count}}</span></p>
        <ul class="list-group mb-4 col-7">
        {% for u in user.follows.all %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <p>{{ u }}</p>
                <a class="btn btn-primary" href="{% url 'unfollow' u %}">Ne plus suivre test</a>
            </li>
        {% endfor %}
        </ul>
    </div>

    <div class="row mt-4">
        <p>S'abonner à un utilisateur:</p>
        <form class="form-inline justify-content-center col-4" method="POST">
            <input type="text" placeholder="Utilisateur à suivre">
            {{ form_follow.as_p }}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary mb-2 col-2">Suivre</button>
        </form>
     </div>


    <input id="input_username" type="text" placeholder="Utilisateur à suivre">
    <a class="btn btn-primary" href="">Suivre test</a>


    <p class="mt-5">Abonnés <span class="badge bg-primary rounded-pill">{{user.followers.count}}</span> </p>
    {% for u in user.followers.all %}
    <p>{{ u }} </p>
    <br/>
    {% endfor %}

</div>

{% endblock content %}