{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <h2>Home Page</h2>
    </div>

    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a type="button" class="btn btn-primary btn-lg px-4 me-sm-3"
                href="{% url 'ticket' %}">Demander une critique</a>
        <a type="button" class="btn btn-outline-secondary btn-lg px-4"
                href="{% url 'review_ticket' %}">Rédiger une critique</a>
    </div>

    <div class="col">
        {% for ticket in tickets %}
        <div class="card col-sm-3">
            <div class="card-body">
                <h2 class="card-title">{{ ticket.title }}</h2>
                {% if ticket.image %}
                    <img src="{{ ticket.image.url }}">
                {% endif %}
                    <a href="{% url 'view_ticket' ticket.id %}">voir</a>
            </div>
        </div>
        {% endfor %}
        {% for review in reviews %}
        <div class="card col-sm-3">
            <div class="card-body">
                <h2 class="card-title">{{ review.headline }}</h2>
                {% if review.rating == 0 %}
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                {% elif review.rating == 1 %}
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                {% elif review.rating == 2 %}
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                {% elif review.rating == 3 %}
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                {% elif review.rating == 4 %}
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                {% elif review.rating == 5 %}
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                {% endif %}
                <a href="{% url 'view_review' review.id %}">voir</a>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
{% endblock content %}

