{% extends 'base.html' %}
{% load review_tag %}
{% block content %}
<div class="container-fluid">
    <div class="row text-center mb-4 ">
        <h2 class="mt-4">Vos posts</h2>
    </div>

    <div class="grid-container">
        {% for instance in posts %}
            {% if instance|model_type == 'Ticket' %}
                {% include 'reviews/partials/ticket_snippet.html' with ticket=instance %}
            {% elif instance|model_type == 'Review' %}
                {% include 'reviews/partials/review_snippet_with_ticket.html' with review=instance %}
            {% endif %}
        {% endfor %}
    </div>

</div>

{% endblock content %}
