{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row text-center">
        <h2 class="mt-4">{{ ticket.title }}</h2>
        {% if ticket.image %}
        <div class="col">
            <img src="{{ ticket.image.url }}">
        </div>
        {% endif %}
        <p>{{ ticket.description }}</p>
        {% if ticket.last_edited %}
            <p>Crée le {{ ticket.time_created }} par {{ ticket.user }}. <br>
            Dernière modification le {{ ticket.last_edited }}. </p>
        {% else %}
            <p>Crée le {{ ticket.time_created }} par {{ ticket.user }}. </p>
        {% endif %}
        <div class="row">
            <p><a class="btn btn-primary col-1" href="{% url 'edit_ticket' ticket.id %}">Modifier</a>
            <a class="btn btn-primary col-1" href="{% url 'delete_ticket' ticket.id %}">Supprimer</a>
            <a class="btn btn-primary col-2" href="{% url 'review' ticket.id %}">Rédiger une critique</a></p>
        </div>
    </div>
    <div class="row">
        {% for review in reviews %}
            {% include 'reviews/partials/review_snippet.html' with review=review %}
        {% endfor %}
    </div>
</div>
{% endblock content %}