{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-around g-lg-5 py-5">
    <div class="col-lg-7 text-left">
        <h3 class="display-4 fw-bold lh-1 mb-3 text-center mt-4">Inscription</h3>
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}
        <form method="post" class="p-4 p-md-5 border rounded-3 bg-light mt-5">
            <div class="form-floating mb-3">
                {{ form.as_p }}
                {% csrf_token %}
            </div>
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-primary col-2 mt-4">S’inscrire</button>
            </div>
        </form>
        <div class="row justify-content-center">
            <a class="btn btn-link col-1 mt-4" href="{% url 'login' %}">Retour</a>
        </div>
    </div>
{% endblock content %}
