{% load review_tag %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card mb-4" style="max-width: 540px;">
          <div class="row g-0">
              <p class="card-header"><small class="text-muted">Ticket modifié {{ ticket.last_edited }}
                    par {{ ticket.user}}</small></p>
              <h5 class="card-title">{{ ticket.title }}</h5>
              {% if ticket.image %}
                <div class="col-md-4">
                  <img class="img-fluid rounded-start" src="{{ ticket.image.url }}">
                </div>
              {% endif %}
              <div class="card-body col-md-8">
                    <p class="card-text">{{ ticket.description }}</p>
                    <div class="text-end">
                        {% if request.user == ticket.user %}
                          <a class="btn btn-primary col-5" href="{% url 'view_ticket' ticket.id %}">Editer</a>
                        {% endif %}
                        <a class="btn btn-primary col-5" href="{% url 'review' ticket.id %}">Avis</a>
                    </div>
              </div>
          </div>
        </div>
    </div>
</div>