<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
              crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
                crossorigin="anonymous">
        </script>
        <script src="https://kit.fontawesome.com/1bb4e88cf6.js" crossorigin="anonymous"></script>
        <title>LITReview</title>
    </head>

    <body>

    <div class="container-fluid">
        <div class="row border-3">
            <header>
                <nav class="navbar-expand navbar">
                    <a class="navbar-brand col col-6 text-center" href="#">LITReview</a>
                    <div class="collapse navbar-collapse col flex-content-right" id="navbarSupportedContent">
                        <ul class="nav nav-pills flex-column flex-md-row">
                          <li class="nav-item">
                            {% url 'feed' as url %}
                            <a class="nav-link {% if request.path == url %}active{% endif %}" aria-current="page"
                               href="{{ url }}">Flux</a>
                          </li>
                          <li class="nav-item">
                              {% url 'posts' as url %}
                              <a class="nav-link {% if request.path == url %}active{% endif %}"
                                 href="{{ url }}">Posts</a>
                          </li>
                          <li class="nav-item">
                              {% url 'follow_users' as url %}
                              <a class="nav-link {% if request.path == url %}active{% endif %}"
                                 href="{{ url }}">Abonnements</a>
                          </li>
                          <li class="nav-item dropdown">
                              {% url 'password_change' as url %}
                              <a class="nav-link
                              {% if request.path == url%}active{% endif %}
                              dropdown-toggle"
                                 href="#" id="navbarDropdownMenuLink" role="button"
                                 data-bs-toggle="dropdown" aria-expanded="false">
                                Mon compte
                              </a>
                              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="{% url 'password_change' %}">Changer le mot de passe</a></li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}">Se déconnecter</a></li>
                              </ul>
                          </li>
                        </ul>
                    </div>
                </nav>
                {% if request.user.is_authenticated %}
                    <p>User connecté: {{ request.user.username }}</p>
                {% endif %}
            </header>
        </div>
    </div>

        {% block content %}
        {% endblock content %}

    </body>
</html>